.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background: white;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: green;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

button {
  cursor: pointer;
}
